.header__lang-link {
  margin: 0;
  padding: 0 0 0 18px;
  display: block;
  height: 100%;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-decoration: none;
}

.header__lang-link:first-child {
  padding-left: 0;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header__lang-link {
    font-size: calc(24px - 0.01*(768px - 100vw));
    line-height: calc(28px - 0.02*(768px - 100vw));
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
} 
