.place__image {
  margin: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 2;
  width: calc(100vw * 0.3885);
  max-width: 460px;
  min-width: 320px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
  }
}
 