.intro__list {
  margin: 0;
  width: 70%;
  padding: 33px 0 92px 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    width: 94%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .intro__list {
    width: 100%;
    padding-left: calc(24px - 0.02*(767px - 100vw));
    padding-right: calc(24px - 0.02*(767px - 100vw));
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}