.lead {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 984px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279) {
  .lead {
    padding-left: calc(148px - 0.39*(1279px - 100vw));
    padding-right: calc(148px - 0.39*(1279px - 100vw));
  }
} 