.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  outline: blue 1px solid;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 48px;
  }
}