.lead__image {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 984px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__image {
    width: calc(100vw * 0.9063);
  }
}