.cover__title {
  margin: 0;
  padding: 0;
  position: relative;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

