.place {
  position: relative;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-gap: 48px 40px;
  justify-items: start;
  align-items: start;
  width: 100%;
}